{% extends "base.html" %}

{% block js %}{% endblock %}

{% block content %}
    <div class="splash">
        <p>Open Gaithersburg is an experiment in public data provided by the <a href="http://www.gaithersburgmd.gov/">City of Gaithersburg, MD</a>.</p>
        <p>Inspired by newly published campaign finance data for city elections, Open Gaithersburg's first effort is to make sense of how campaigns for the upcoming city council election are funded. This basic initial version was launched on September 26, 2011. As we near the election, I hope to publish increasingly useful visualizations and insight into the funding of local elections.</p>
        <p>After the election I'll be looking for other city data sets to incorporate into the site.</p>
        <p><a href="/elections/2011/council" class="feature-link">View 2011 City Council Campaigns</a></p>
    </div>
{% endblock %}